[kplabs-challenge3-user]
aws_access_key_id=<key-id-from-tfstate>
aws_secret_access_key=<secret-access-key-from-tfstate>

[ro-user]
aws_access_key_id=<key-id-from-tfstate>
aws_secret_access_key=<secret-access-key-from-tfstate>